body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

tr:nth-child(even) {background: #EEE}

table {
    border: none;
    border-spacing: 0;
}
